<p-card>
  <div class="p-grid">
    <div class="p-col-8 p-offset-2">
      <p-panel>
        <ng-template pTemplate="header">
          <strong>Detalhe da Pesquisa</strong>
        </ng-template>

        <div class="p-field">
          <label> <strong>Id:</strong> </label>
          <label>{{ dataSistema.id }}</label>
        </div>

        <div class="p-field">
          <label> <strong>class:</strong> </label>
          <label>{{ dataSistema.className }}</label>
        </div>

        <div class="p-field">
          <label> <strong>method:</strong> </label>
          <label>{{ dataSistema.methodName }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Argumento:</strong> </label>
          <label>{{ dataSistema.argumento }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Retorno:</strong> </label>
          <label>{{ dataSistema.retorno }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Usuário:</strong> </label>
          <label>{{ dataSistema.createdBy }}</label>
        </div>

        <div class="p-col-12">
          <button pButton type="button" icon="pi pi-backward" class="p-button-raised p-button-primary"
            (click)="voltar()" label="Voltar"></button>
        </div>
      </p-panel>
    </div>
  </div>
</p-card>
