<p-card>
  <div class="p-grid" id="htmlData">
    <div class="p-col-6 p-offset-3">
      <p-panel>
        <ng-template pTemplate="header">
          <strong>Detalhe da Solicitação</strong>
            <button pButton type="button" icon="pi pi-print" class="p-button-raised p-button-danger"
            (click)="openPDF_2()"></button>
        </ng-template>

        <div class="p-field">
          <label> <strong>Id:</strong> </label>
          <label>{{ dataSistema.id }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Descrição:</strong> </label>
          <label>{{ dataSistema.descricao }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Cliente:</strong> </label>
          <label>{{ dataSistema.cliente.nome }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Sistema:</strong> </label>
          <label>{{ dataSistema.sistema.nome }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Usuário:</strong> </label>
          <label>{{ dataSistema.userName }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Data cadastro:</strong> </label>
          <label>{{ dataSistema.dataCadastroFormatada }}</label>
        </div>

        <div class="p-field">
          <label> <strong>Status Atual:</strong> </label>
          <label>{{ dataSistema.statusAtual }}</label>
        </div>

        <label> <strong>Movimentação:</strong> </label>
        <table width="100%">
          <tr>
            <td><strong>Data</strong></td>
            <td><strong>Status</strong></td>
            <td><strong>Observação</strong></td>
          </tr>
          <tr *ngFor="let registro of dataMovimentacao">
            <td>{{registro.dataCadastroFormatada}}</td>
            <td>{{registro.status}}</td>
            <td>{{registro.observacao}}</td>
          </tr>
        </table>


        <div class="p-col-12">
          <button pButton type="button" icon="pi pi-backward" class="p-button-raised p-button-primary"
            (click)="voltar()" label="Voltar"></button>
        </div>
      </p-panel>
    </div>
  </div>
</p-card>


