<p-card>
  <div class="p-grid">
    <div class="p-col-6 p-offset-3">
      <p-panel>
        <ng-template pTemplate="header">
          <strong>Atualizar Usuário</strong>
        </ng-template>

        <form [formGroup]="form">

          <div class="p-field">
            <label for="field-nome">Login</label>
            <input pInputText type="text" id="field-nome" formControlName="userName" autofocus required />
            <p-message severity="error" text="{{ getErrorUserName() }}"
              *ngIf="form.controls.userName.invalid && form.controls.userName.dirty"></p-message>
          </div>

          <div class="p-field">
            <label for="field-nomeCompleto">Nome completo</label>
            <input pInputText type="text" id="field-nomeCompleto" formControlName="fullName" required />
            <p-message severity="error" text="{{ getErrorFullName() }}"
              *ngIf="form.controls.fullName.invalid && form.controls.fullName.dirty"></p-message>
          </div>

          <div class="p-field">
            <label for="field-email">Email</label>
            <input pInputText type="text" id="field-email" formControlName="email" required />
            <p-message severity="error" text="{{ getErrorEmail() }}"
              *ngIf="form.controls.email.invalid && form.controls.email.dirty"></p-message>
          </div>


          <div class="p-field">
            <label for="field-cliente">Cliente</label>
            <p-dropdown formControlName="cliente" id="field-cliente" [options]="clientes" placeholder="&nbsp;"
              optionLabel="nome" [showClear]="true"></p-dropdown>
          </div>

          <div class="p-field-ativo">
            <label>Ativo</label>
          </div>
          <div class="p-field-ativo">
            <p-inputSwitch formControlName="enabled"></p-inputSwitch>
          </div>

          <div class="p-field-ver-outras">
            <label>Ver solicitações de outros usuários</label>
          </div>
          <div class="p-field-ver-outras">
            <p-inputSwitch formControlName="verOutraSolicitacao"></p-inputSwitch>
          </div>


          <div class="p-col-12">
            <button pButton type="button" [icon]="carregando ? 'pi pi-spin pi-spinner' : 'pi pi-save'" label="Atualizar"
              class="p-button-raised p-button-success" [disabled]="form.invalid" (click)="atualizar()"></button>
            <button pButton type="button" icon="pi pi-backward" class="p-button-raised p-button-primary"
              (click)="voltar()" label="Voltar"></button>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
</p-card>
