<p-card>
  <div class="p-grid">
    <div class="p-col-6 p-offset-3">
      <p-panel>
        <ng-template pTemplate="header">
          <strong>Atualizar Sistema</strong>
        </ng-template>

        <form [formGroup]="form">
          <div class="p-field">
            <label for="field-nome">Nome</label>
            <input pInputText type="text" id="field-nome" formControlName="nome" autofocus required />
            <p-message severity="error" text="{{ getErrorNome() }}"
              *ngIf="form.controls.nome.invalid && form.controls.nome.dirty"></p-message>
          </div>

          <div class="p-field">
            <label for="field-time">Time responsável</label>
            <p-dropdown formControlName="time" id="field-time" [options]="times" placeholder="&nbsp;"
              optionLabel="nome" [showClear]="true"></p-dropdown>
              <p-message
              severity="error"
              text="{{ getErrorTime() }}"
              *ngIf="form.controls.time.invalid && form.controls.time.dirty"
            ></p-message>
          </div>


          <div class="p-field">
            <label>Ativo</label>
          </div>

          <div class="p-field">
            <p-inputSwitch formControlName="ativo"></p-inputSwitch>
          </div>

          <div class="p-col-12">
            <button pButton type="button" [icon]="carregando ? 'pi pi-spin pi-spinner' : 'pi pi-save'" label="Atualizar"
              class="p-button-raised p-button-success" [disabled]="form.invalid" (click)="atualizar()"></button>
            <button pButton type="button" icon="pi pi-backward" class="p-button-raised p-button-primary"
              (click)="voltar()" label="Voltar"></button>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
</p-card>
