<p-card>
  <div class="p-grid">
    <div class="p-col-6 p-offset-3">
      <p-panel>
        <ng-template pTemplate="header">
          <strong>Adicionar Permissão</strong>
        </ng-template>

        <form [formGroup]="form">
          <div class="p-field">
            <label for="field-nome">Descrição</label>
            <input pInputText type="text" id="field-nome" formControlName="description"
              onkeyup="this.value = this.value.toUpperCase();" autofocus required />
            <p-message severity="error" text="{{ getErrorDescription() }}"
              *ngIf="form.controls.description.invalid && form.controls.description.dirty"></p-message>
          </div>


          <div class="p-col-12">
            <button pButton type="button" [icon]="carregando ? 'pi pi-spin pi-spinner' : 'pi pi-save'" label="Salvar"
              class="p-button-raised p-button-success" [disabled]="form.invalid" (click)="salvar()"></button>
            <button pButton type="button" icon="pi pi-backward" (click)="voltar()" label="Voltar"></button>
          </div>

        </form>
      </p-panel>
    </div>
  </div>
</p-card>
