.sizes .p-inputtext {
  display: block;
  margin-bottom: .5rem;
  width: 100%;
}

.p-field label{
  margin-bottom: 5px;
}

.p-field input {
  width: 100%;
}

.p-inputtext:last-child {
    margin-bottom: 0;
}

.p-field * {
  display: block;
}
