<br />
<p-card>
  <!-- GRID -->
  <p-table
    #dt
    [value]="dataSouce"
    [loading]="carregandoGrid"
    [paginator]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} de {last} | Total {totalRecords} registros."
    emptymessage="Nenhum registro encontrado"
    selectionMode="single"
    [resizableColumns]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    totalRecords="{{ totalRecords }}"
    [rows]="10"
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)"
    [lazyLoadOnInit]="false"
    [globalFilterFields]="['id', 'nome']"
    styleClass="p-datatable-striped"
    sortField="id"
    sortOrder="1"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span>Lista dos Usuários</span>
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Pesquisar"
          />
        </span>
      </div>
    </ng-template>

    <!-- CABECALHO -->
    <ng-template pTemplate="header" class="ui-column-title">
      <tr>
        <th width="10%" pResizableColumn pSortableColumn="id">
          #<p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="userName">
          User <p-sortIcon field="userName"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="fullName">
          Nome completo <p-sortIcon field="fullName"></p-sortIcon>
        </th>
        <th width="15%">Ver outras solicitações</th>
        <th width="8%">Ativo</th>
        <th width="20%"><i class="pi pi-cog"></i></th>
      </tr>
    </ng-template>

    <!-- CORPO -->
    <ng-template pTemplate="body" let-linha>
      <tr [pSelectableRow]="linha">
        <td>{{ linha.id }}</td>
        <td>{{ linha.userName }}</td>
        <td>{{ linha.fullName }}</td>
        <td>{{ linha.verOutraSolicitacao | yesNo }}</td>
        <td>{{ linha.enabled | yesNo }}</td>
        <td>
          <button
            type="button"
            (click)="detalhe(linha.id)"
            pButton
            icon="pi pi-eye"
            class="p-button-raised p-button-rounded p-button-help"
            pTooltip="detalhe"
          ></button>

          <button
            type="button"
            (click)="editar(linha.id)"
            pButton
            icon="pi pi-pencil"
            class="p-button-raised p-button-rounded p-button-warning"
            pTooltip="editar"
          ></button>

          <button
            type="button"
            (click)="sistemasDoUser(linha.id)"
            pButton
            icon="pi pi-share-alt"
            class="p-button-sm p-button-raised p-button-rounded p-button-secondary"
            pTooltip="add/remover sistemas ao usuário"
          ></button>

          <button
            type="button"
            (click)="permissaoDoUser(linha.id)"
            pButton
            icon="pi pi-key"
            class="p-button-sm p-button-raised p-button-rounded p-button-success"
            pTooltip="add/remover permissão ao usuário"
          ></button>

          <button
            type="button"
            (click)="timeDoUser(linha.id)"
            pButton
            icon="pi pi-sitemap"
            class="p-button-sm p-button-raised p-button-rounded p-button-info"
            pTooltip="add/remover Time ao usuário"
          ></button>

        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <button
        type="button"
        class="p-button-raised p-button-primary"
        pButton
        icon="pi pi-plus-circle"
        label="Novo"
        (click)="novo()"
      ></button>
    </ng-template>

    <ng-template pTemplate="paginatorright"> </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="4">
          <h4>Nenhum registro encontrado.</h4>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
